[submodule "zsh/tty-solarized"]
	path = zsh/tty-solarized
	url = https://github.com/joepvd/tty-solarized
[submodule "nvim"]
	path = nvim
	url = https://github.com/BenSYZ/nvim
[submodule "zsh/oh-my-zsh/custom/plugins/fzf-tab"]
	path = zsh/oh-my-zsh/custom/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
