# ignore everything
/*
/*/


# ... but these:

!/fontconfig/

# default app
!/mimeapps.list

!/alacritty/
!/fish/
!/.gitignore

!/i3/
i3/**/flag
!/picom.conf

!/rofi/

!/git
!/pip

!/neofetch/
!/ranger/
/ranger/history
/ranger/bookmarks
!README.md

!/lf/
!/feh/

/**/__pycache__

!/HOME/

!/zsh/

!/zathura/


!/fcitx5/

!/fcitx/
/fcitx/*
!/fcitx/profile
!/fcitx/rime/
/fcitx/rime/build/
/fcitx/rime/luna_pinyin.userdb
/fcitx/rime/luna_pinyin.userdb.old
/fcitx/rime/luna_pinyin.own.dict.yaml
/fcitx/rime/user.yaml

!/fcitx/config
!/fcitx/profile


!/go
!/gtk-2.0
!/gtk-3.0
/gtk-3.0/servers
!/systemd


!/variety/
/variety/*
!/variety/scripts/
/variety/scripts/*
!/variety/scripts/set_wallpaper

!/dunst/

!/netease-musicbox
/netease-musicbox/*
!/netease-musicbox/config.json
!/xlunch

