# ignore everything
/*
/*/


# ... but these:


!/alacritty/
!/fish/
!/.gitignore

!/i3/
i3/**/flag

!/neofetch/
!/ranger/
/ranger/history
/ranger/bookmarks
!README.md

/**/__pycache__

!/.home/
/.home/.oh-my-zsh/
!/.home/.oh-my-zsh/themes/ben.zsh-theme

!/zathura/


!/fcitx/
/fcitx/*
!./fcitx/profile
!/fcitx/rime/
/fcitx/rime/build/
/fcitx/rime/luna_pinyin.userdb
/fcitx/rime/luna_pinyin.userdb.old
/fcitx/rime/luna_pinyin.own.dict.yaml

!/fcitx/config
!/fcitx/profile



