[Unit]
Description=xautolock called i3lock or fancy-lock per 5 minutes, not suspend.
After=default.target

[Service]
Type=simple
# https://unix.stackexchange.com/questions/85244/setting-display-in-systemd-service-file
#ExecStartPre=/bin/sleep 20
Environment=XAUTHORITY=/home/%I/.Xauthority
Environment=DISPLAY=:0
ExecStart=/usr/bin/xautolock -time 5 -locker "/usr/bin/systemctl --user start i3lock@%I.service" -detectsleep -bell 0
Restart=always
RestartSec=10

[Install]
WantedBy=default.target

